bluesky-keyword-mention-alerts/workflows/n8n/bluesky-alerts-task-to-json.json
{
  "id": "blueskyAlerts02",
  "name": "Monitor Bluesky keywords with Apify and store new posts in n8n",
  "nodes": [
    {
      "parameters": {
        "content": "## Monitor Bluesky keywords with Apify and store new posts in n8n\n\n### Who this is for\nBrand, community, and research teams that need scheduled Bluesky keyword, handle, mention, or hashtag monitoring without duplicate deliveries.\n\n### How it works\nThe schedule runs one persistent Apify Task and waits for its terminal result. If a dataset exists, the workflow fetches it separately, normalizes every post, and upserts it into the `monitor-deliveries` Data Table before reporting success or failure. Replaying a run updates the same post key rather than inserting a duplicate.\n\n### Setup\n1. Install `@apify/n8n-nodes-apify` 0.6.10 or later.\n2. Add your Apify credential in n8n's credential store.\n3. Replace `PASTEYOURTASKID` with a saved Bluesky monitor Task configured with `onlyNew: true` and a bounded result cap.\n4. Create the `monitor-deliveries` Data Table using the columns shown in the upsert node.\n5. Test twice before activation; the second run may correctly contain zero posts.\n\n### Requirements and customization\nChange the schedule, Bluesky filters, and downstream destination only after the two-run test passes. The export contains no credentials, webhook secrets, or private identifiers.\n\nCommunity-node note: Creator Hub treats community-node templates as self-hosted. Use self-hosted n8n unless your n8n Cloud workspace already provides this verified Apify node.",
        "height": 600,
        "width": 850,
        "color": 3
      },
      "id": "390b17fd-cd84-4394-9e90-e20da568519c",
      "name": "Template setup guide",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-900, -600]
    },
    {
      "parameters": {},
      "id": "13925d62-98c0-4e93-bb72-47f3af21ef06",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-900, 180]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "70ccf355-62a0-46ca-b5ec-1df95770df07",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-900, 20],
      "disabled": true
    },
    {
      "parameters": {
        "resource": "Actor tasks",
        "operation": "Run task",
        "actorTaskId": {
          "__rl": true,
          "value": "PASTEYOURTASKID",
          "mode": "id"
        },
        "useCustomBody": false,
        "waitForFinish": true,
        "authentication": "apifyApi"
      },
      "id": "17c18aab-c32a-45fd-afbd-e38f433a06a8",
      "name": "Run persistent Bluesky monitoring Task",
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [-650, 100],
      "notesInFlow": true,
      "notes": "Verified with @apify/n8n-nodes-apify 0.6.10. Run task with Wait for Finish returns the terminal run object for SUCCEEDED, FAILED, TIMED-OUT, and ABORTED without applying the combined operation's success-only dataset gate."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0f1748df-1dbc-45e1-a999-733fac51d7b8",
              "leftValue": "={{ $json.defaultDatasetId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f43d0da3-4128-448c-b967-e95abff2f1f6",
      "name": "Run has default dataset",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-400, 100]
    },
    {
      "parameters": {
        "resource": "Datasets",
        "operation": "Get items",
        "datasetId": "={{ $('Run persistent Bluesky monitoring Task').first().json.defaultDatasetId }}",
        "offset": 0,
        "limit": 100,
        "options": {},
        "authentication": "apifyApi"
      },
      "id": "37de7078-1f21-4d96-9bb9-173073a29333",
      "name": "Fetch terminal run dataset",
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [-150, 20],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "alwaysOutputData": true,
      "notesInFlow": true,
      "notes": "Fetches by the terminal run's defaultDatasetId for every status. This workflow is intentionally non-paginated: the retrieval limit is 100, so the saved Task maxPostsPerRun must be no greater than 100. Confirm that saved-Task cap during account-gated validation before activation. alwaysOutputData preserves the empty-dataset path."
    },
    {
      "parameters": {
        "jsCode": "const run = $('Run persistent Bluesky monitoring Task').first().json;\nconst rows = $input.all()\n  .map((item, rowIndex) => ({ post: item.json, rowIndex }))\n  .filter(({ post }) => post && Object.keys(post).length > 0);\n\nif (rows.length === 0) {\n  return [{ json: { hasRecord: false, runId: run.id, runStatus: run.status, datasetId: run.defaultDatasetId } }];\n}\n\nreturn rows.map(({ post, rowIndex }) => {\n  const hasIdentity = typeof post.uri === 'string' && post.uri.length > 0\n    && typeof post.url === 'string' && post.url.length > 0;\n\n  if (!hasIdentity) {\n    const rowIdentity = `row:${rowIndex}`;\n    const diagnostic = {\n      recordType: 'malformed-dataset-row',\n      code: 'MISSING_REQUIRED_IDENTITY',\n      product: 'bluesky',\n      runId: String(run.id ?? ''),\n      datasetId: String(run.defaultDatasetId ?? ''),\n      rowIndex,\n      requiredFields: ['uri', 'url'],\n    };\n\n    return { json: {\n      hasRecord: true,\n      isDiagnostic: true,\n      deliveryKey: `bluesky:diagnostic:${encodeURIComponent(String(run.id ?? 'unknown-run'))}:${rowIdentity}`,\n      product: 'bluesky',\n      sourceId: `diagnostic:${rowIdentity}`,\n      sourceUrl: '',\n      title: 'Malformed Bluesky dataset row',\n      observedAt: null,\n      runId: run.id,\n      runStatus: run.status,\n      datasetId: run.defaultDatasetId,\n      payloadJson: JSON.stringify(diagnostic),\n      normalized: null,\n      diagnostic,\n    } };\n  }\n\n  const normalized = {\n    postUri: post.uri,\n    postUrl: post.url,\n    authorHandle: post.author?.handle ?? '',\n    authorDisplayName: post.author?.displayName ?? '',\n    text: post.text ?? '',\n    createdAt: post.createdAt ?? null,\n    matchedTerms: post.matchedTerms ?? [],\n    matchSource: post.source ?? null,\n    isNew: post.isNew === true,\n    metrics: {\n      likes: post.likeCount ?? 0,\n      reposts: post.repostCount ?? 0,\n      replies: post.replyCount ?? 0,\n      quotes: post.quoteCount ?? 0,\n    },\n  };\n\n  return { json: {\n    hasRecord: true,\n    isDiagnostic: false,\n    deliveryKey: `bluesky:${post.uri}`,\n    product: 'bluesky',\n    sourceId: post.uri,\n    sourceUrl: post.url,\n    title: post.author?.handle ?? '',\n    observedAt: post.createdAt ?? post.indexedAt ?? null,\n    runId: run.id,\n    runStatus: run.status,\n    datasetId: run.defaultDatasetId,\n    payloadJson: JSON.stringify(normalized),\n    normalized,\n  } };\n});"
      },
      "id": "3763b440-ff03-4b78-bf08-fc5e9ea7cf80",
      "name": "Prepare dataset records",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [100, 20]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "39ad5086-4277-474b-901d-a78189fd2f32",
              "leftValue": "={{ $json.hasRecord }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "092b9369-87b5-4f40-9ca9-2b44a282b7a7",
      "name": "Dataset has records",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [350, 20]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "monitor-deliveries",
          "mode": "name"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "deliveryKey",
              "condition": "eq",
              "keyValue": "={{ $json.deliveryKey }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "deliveryKey": "={{ $json.deliveryKey }}",
            "product": "={{ $json.product }}",
            "sourceId": "={{ $json.sourceId }}",
            "sourceUrl": "={{ $json.sourceUrl }}",
            "title": "={{ $json.title }}",
            "observedAt": "={{ $json.observedAt }}",
            "runId": "={{ $json.runId }}",
            "runStatus": "={{ $json.runStatus }}",
            "datasetId": "={{ $json.datasetId }}",
            "payloadJson": "={{ $json.payloadJson }}"
          },
          "matchingColumns": ["deliveryKey"],
          "schema": [
            { "id": "deliveryKey", "displayName": "deliveryKey", "required": true, "defaultMatch": true, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "product", "displayName": "product", "required": true, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "sourceId", "displayName": "sourceId", "required": true, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "sourceUrl", "displayName": "sourceUrl", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "title", "displayName": "title", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "observedAt", "displayName": "observedAt", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "runId", "displayName": "runId", "required": true, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "runStatus", "displayName": "runStatus", "required": true, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "datasetId", "displayName": "datasetId", "required": true, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "payloadJson", "displayName": "payloadJson", "required": true, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "06623a66-2fa5-4335-9983-ecf35e696309",
      "name": "Upsert committed posts",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [600, -60],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "notesInFlow": true,
      "notes": "Create or select monitor-deliveries with the displayed columns. Upsert matches deliveryKey, so replaying bluesky:<postUri> updates one row instead of inserting a duplicate."
    },
    {
      "parameters": {
        "jsCode": "const run = $('Run persistent Bluesky monitoring Task').first().json;\nconst prepared = $('Prepare dataset records').all().filter((item) => item.json.hasRecord === true);\nconst diagnosticRecordsPersisted = prepared.filter((item) => item.json.isDiagnostic === true).length;\nconst validRecordsPersisted = prepared.length - diagnosticRecordsPersisted;\nconst recordsPersisted = prepared.length;\nconst result = {\n  runId: run.id,\n  status: run.status,\n  defaultDatasetId: run.defaultDatasetId ?? null,\n  datasetRecordCount: recordsPersisted,\n  recordsPersisted,\n  validRecordsPersisted,\n  diagnosticRecordsPersisted,\n  terminalFailure: run.status !== 'SUCCEEDED',\n};\n\nif (run.status !== 'SUCCEEDED') {\n  throw new Error(`Apify Task run ${run.id} finished ${run.status} after ${recordsPersisted} committed dataset record(s) were idempotently persisted (${diagnosticRecordsPersisted} malformed-row diagnostic record(s))`);\n}\n\nreturn [{ json: result }];"
      },
      "id": "90fb3267-da39-431e-8535-b0a9074b0d88",
      "name": "Report terminal outcome after ingestion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 20]
    },
    {
      "parameters": {
        "jsCode": "const run = $('Run persistent Bluesky monitoring Task').first().json;\nconst result = { runId: run.id, status: run.status, defaultDatasetId: null, datasetRecordCount: 0, recordsPersisted: 0, terminalFailure: run.status !== 'SUCCEEDED', diagnostic: 'Terminal run has no defaultDatasetId; no dataset request was attempted.' };\nif (run.status !== 'SUCCEEDED') throw new Error(`Apify Task run ${run.id} finished ${run.status} without a defaultDatasetId; no records were available to ingest`);\nreturn [{ json: result }];"
      },
      "id": "a0ee2659-281e-482b-a988-961b21da3a16",
      "name": "Report terminal run without dataset",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-150, 220]
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": { "main": [[{ "node": "Run persistent Bluesky monitoring Task", "type": "main", "index": 0 }]] },
    "Schedule Trigger": { "main": [[{ "node": "Run persistent Bluesky monitoring Task", "type": "main", "index": 0 }]] },
    "Run persistent Bluesky monitoring Task": { "main": [[{ "node": "Run has default dataset", "type": "main", "index": 0 }]] },
    "Run has default dataset": {
      "main": [
        [{ "node": "Fetch terminal run dataset", "type": "main", "index": 0 }],
        [{ "node": "Report terminal run without dataset", "type": "main", "index": 0 }]
      ]
    },
    "Fetch terminal run dataset": { "main": [[{ "node": "Prepare dataset records", "type": "main", "index": 0 }]] },
    "Prepare dataset records": { "main": [[{ "node": "Dataset has records", "type": "main", "index": 0 }]] },
    "Dataset has records": {
      "main": [
        [{ "node": "Upsert committed posts", "type": "main", "index": 0 }],
        [{ "node": "Report terminal outcome after ingestion", "type": "main", "index": 0 }]
      ]
    },
    "Upsert committed posts": { "main": [[{ "node": "Report terminal outcome after ingestion", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "7d60b8ac-8997-4bea-849e-6d4e6e5b23f0",
  "meta": { "templateCredsSetupCompleted": false },
  "tags": []
}
