ted-tender-monitor/n8n/ted-tender-monitor/n8n/ted-tender-monitor.json
{
  "id": "tedTenderAlerts02",
  "name": "TED tenders - ingest every terminal Task dataset",
  "nodes": [
    {
      "parameters": {},
      "id": "0c151a7a-22da-4ae1-8799-c81616beae01",
      "name": "Run manually",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-1060, 20]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "daysInterval": 1,
              "triggerAtHour": 6
            }
          ]
        }
      },
      "id": "642fb961-1b4c-462e-a39e-084216848502",
      "name": "Run daily",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-1060, 180]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "42e18dcc-c1d2-44e8-a7d7-1d481a188503",
              "name": "actorTaskId",
              "value": "PASTEYOURTASKID",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "d05fd7db-7729-4826-81c8-a5cc73868504",
      "name": "Persistent Task configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-820, 100]
    },
    {
      "parameters": {
        "resource": "Actor tasks",
        "operation": "Run task",
        "actorTaskId": {
          "__rl": true,
          "value": "={{ $json.actorTaskId }}",
          "mode": "id"
        },
        "useCustomBody": false,
        "waitForFinish": true,
        "authentication": "apifyApi"
      },
      "id": "93626311-3006-4168-afbb-bbed14e78505",
      "name": "Run persistent TED monitoring Task",
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [-570, 100],
      "notesInFlow": true,
      "notes": "Verified with @apify/n8n-nodes-apify 0.6.10. Run task with Wait for Finish returns the terminal run object for SUCCEEDED, FAILED, TIMED-OUT, and ABORTED without applying the combined operation's success-only dataset gate."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            {
              "id": "8cc44b5a-f756-4721-851f-646b020f685b",
              "leftValue": "={{ $json.defaultDatasetId }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "exists", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3fa6869d-6d19-4a2c-a69c-0026b569c8af",
      "name": "Run has default dataset",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [-320, 100]
    },
    {
      "parameters": {
        "resource": "Datasets",
        "operation": "Get items",
        "datasetId": "={{ $('Run persistent TED monitoring Task').first().json.defaultDatasetId }}",
        "offset": 0,
        "limit": 1000,
        "options": {},
        "authentication": "apifyApi"
      },
      "id": "88c0e025-fcc6-4518-8686-dbcbd832812b",
      "name": "Fetch terminal run dataset",
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [-70, 20],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "alwaysOutputData": true,
      "notesInFlow": true,
      "notes": "Fetches by the terminal run's defaultDatasetId for every status. This workflow is intentionally non-paginated: the retrieval limit is 1000 and the Actor appends exactly one summary control row, so the saved Task maxNewPerRun must be no greater than 999. Confirm that saved-Task cap during account-gated validation before activation. alwaysOutputData preserves the empty-dataset path."
    },
    {
      "parameters": {
        "jsCode": "const run = $('Run persistent TED monitoring Task').first().json;\nconst rows = $input.all()\n  .map((item) => item.json)\n  .filter((row) => row && Object.keys(row).length > 0);\n\nif (rows.length === 0) {\n  return [{ json: { hasRecord: false, exposeTender: false, runId: run.id, runStatus: run.status, datasetId: run.defaultDatasetId } }];\n}\n\nreturn rows.map((record, index) => {\n  const isTender = record.recordType === 'tender';\n  const hasPublicationNumber = typeof record.publicationNumber === 'string' && record.publicationNumber.length > 0;\n  const deliveryKey = isTender && hasPublicationNumber\n    ? `ted:${record.publicationNumber}`\n    : `ted:run:${run.id}:row:${index}`;\n  const displayTitle = typeof record.title === 'string' && record.title.trim().length > 0\n    ? record.title\n    : hasPublicationNumber ? `Tender ${record.publicationNumber}` : `TED ${record.recordType ?? 'dataset'} record`;\n  const normalized = isTender && hasPublicationNumber ? {\n    publicationNumber: record.publicationNumber,\n    publicationDate: record.publicationDate ?? null,\n    noticeType: record.noticeType ?? null,\n    isChangeNotice: record.isChangeNotice === true,\n    modifiesPublicationNumber: record.modifiesPublicationNumber ?? null,\n    title: record.title ?? null,\n    displayTitle,\n    buyerName: record.buyerName ?? null,\n    buyerCountry: record.buyerCountry ?? null,\n    cpvCodes: record.cpvCodes ?? [],\n    estimatedValueEur: record.estimatedValueEur ?? null,\n    valueUnknown: record.valueUnknown === true,\n    deadlineDate: record.deadlineDate ?? null,\n    links: record.links ?? { html: null, pdf: null, xml: null },\n    firstSeenAt: record.firstSeenAt ?? null,\n  } : null;\n\n  return { json: {\n    hasRecord: true,\n    exposeTender: normalized !== null,\n    deliveryKey,\n    product: 'ted',\n    sourceId: hasPublicationNumber ? record.publicationNumber : `run:${run.id}:row:${index}`,\n    sourceUrl: record.links?.html ?? '',\n    title: displayTitle,\n    observedAt: record.firstSeenAt ?? record.completedAt ?? null,\n    runId: run.id,\n    runStatus: run.status,\n    datasetId: run.defaultDatasetId,\n    payloadJson: JSON.stringify(record),\n    normalized,\n  } };\n});"
      },
      "id": "2796025e-ddf1-46f7-858e-b9d56b8a8506",
      "name": "Prepare every dataset record",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [180, 20],
      "notesInFlow": true,
      "notes": "All dataset rows are persisted. Tender identity remains ted:<publicationNumber>; summary or malformed control rows use a run-and-row fallback key. A null tender title is preserved in payloadJson and normalized.title; displayTitle is only a presentation fallback."
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 2 },
          "conditions": [
            {
              "id": "f544bb54-19ae-4446-ad86-90f247a17d7d",
              "leftValue": "={{ $json.hasRecord }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "18836898-320f-4098-a5da-d525cddfb4ed",
      "name": "Dataset has records",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [430, 20]
    },
    {
      "parameters": {
        "resource": "row",
        "operation": "upsert",
        "dataTableId": { "__rl": true, "value": "monitor-deliveries", "mode": "name" },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            { "keyName": "deliveryKey", "condition": "eq", "keyValue": "={{ $json.deliveryKey }}" }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "deliveryKey": "={{ $json.deliveryKey }}",
            "product": "={{ $json.product }}",
            "sourceId": "={{ $json.sourceId }}",
            "sourceUrl": "={{ $json.sourceUrl }}",
            "title": "={{ $json.title }}",
            "observedAt": "={{ $json.observedAt }}",
            "runId": "={{ $json.runId }}",
            "runStatus": "={{ $json.runStatus }}",
            "datasetId": "={{ $json.datasetId }}",
            "payloadJson": "={{ $json.payloadJson }}"
          },
          "matchingColumns": ["deliveryKey"],
          "schema": [
            { "id": "deliveryKey", "displayName": "deliveryKey", "required": true, "defaultMatch": true, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "product", "displayName": "product", "required": true, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "sourceId", "displayName": "sourceId", "required": true, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "sourceUrl", "displayName": "sourceUrl", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "title", "displayName": "title", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "observedAt", "displayName": "observedAt", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "runId", "displayName": "runId", "required": true, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "runStatus", "displayName": "runStatus", "required": true, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "datasetId", "displayName": "datasetId", "required": true, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "payloadJson", "displayName": "payloadJson", "required": true, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "a514287c-75f9-40f7-ac88-c99fd5329779",
      "name": "Upsert committed TED records",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [680, -60],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000,
      "notesInFlow": true,
      "notes": "Create or select monitor-deliveries with the displayed columns. Upsert matches deliveryKey, so replaying ted:<publicationNumber> or a run-row fallback updates one row instead of inserting a duplicate."
    },
    {
      "parameters": {
        "jsCode": "const run = $('Run persistent TED monitoring Task').first().json;\nconst prepared = $('Prepare every dataset record').all();\nconst records = prepared.filter((item) => item.json.hasRecord === true);\nconst tenders = records.filter((item) => item.json.exposeTender === true).map((item) => item.json.normalized);\nconst result = {\n  runId: run.id,\n  status: run.status,\n  defaultDatasetId: run.defaultDatasetId ?? null,\n  datasetRecordCount: records.length,\n  recordsPersisted: records.length,\n  tenderCount: tenders.length,\n  tenders,\n  terminalFailure: run.status !== 'SUCCEEDED',\n};\n\nif (run.status !== 'SUCCEEDED') {\n  throw new Error(`Apify Task run ${run.id} finished ${run.status} after ${records.length} committed dataset record(s) were idempotently persisted`);\n}\n\nreturn [{ json: result }];"
      },
      "id": "f04290e7-cce2-4ce7-8885-e75f0f89fbd8",
      "name": "Report terminal outcome after ingestion",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [930, 20]
    },
    {
      "parameters": {
        "jsCode": "const run = $('Run persistent TED monitoring Task').first().json;\nconst result = { runId: run.id, status: run.status, defaultDatasetId: null, datasetRecordCount: 0, recordsPersisted: 0, tenderCount: 0, tenders: [], terminalFailure: run.status !== 'SUCCEEDED', diagnostic: 'Terminal run has no defaultDatasetId; no dataset request was attempted.' };\nif (run.status !== 'SUCCEEDED') throw new Error(`Apify Task run ${run.id} finished ${run.status} without a defaultDatasetId; no records were available to ingest`);\nreturn [{ json: result }];"
      },
      "id": "4c674aff-d89a-48e4-9ebf-2f7040c9ea2d",
      "name": "Report terminal run without dataset",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-70, 220]
    },
    {
      "parameters": {
        "content": "## Setup required\n1. Install verified `@apify/n8n-nodes-apify` 0.6.10 or later.\n2. Connect an Apify API-key credential.\n3. Replace PASTEYOURTASKID with the persistent, primed Task ID.\n4. Confirm saved Task maxNewPerRun is no greater than 999; retrieval is a fixed non-paginated 1000 because exactly one summary row is appended.\n5. Create/select `monitor-deliveries` with the columns shown in **Upsert committed TED records**.\n\nEvery terminal run with a dataset is ingested before its status is reported. A null tender title is valid.",
        "height": 340,
        "width": 470
      },
      "id": "f7f259c2-45d2-4437-89ab-d40efedb8507",
      "name": "Setup notes",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-420, -340]
    }
  ],
  "connections": {
    "Run manually": { "main": [[{ "node": "Persistent Task configuration", "type": "main", "index": 0 }]] },
    "Run daily": { "main": [[{ "node": "Persistent Task configuration", "type": "main", "index": 0 }]] },
    "Persistent Task configuration": { "main": [[{ "node": "Run persistent TED monitoring Task", "type": "main", "index": 0 }]] },
    "Run persistent TED monitoring Task": { "main": [[{ "node": "Run has default dataset", "type": "main", "index": 0 }]] },
    "Run has default dataset": {
      "main": [
        [{ "node": "Fetch terminal run dataset", "type": "main", "index": 0 }],
        [{ "node": "Report terminal run without dataset", "type": "main", "index": 0 }]
      ]
    },
    "Fetch terminal run dataset": { "main": [[{ "node": "Prepare every dataset record", "type": "main", "index": 0 }]] },
    "Prepare every dataset record": { "main": [[{ "node": "Dataset has records", "type": "main", "index": 0 }]] },
    "Dataset has records": {
      "main": [
        [{ "node": "Upsert committed TED records", "type": "main", "index": 0 }],
        [{ "node": "Report terminal outcome after ingestion", "type": "main", "index": 0 }]
      ]
    },
    "Upsert committed TED records": { "main": [[{ "node": "Report terminal outcome after ingestion", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "active": false,
  "versionId": "8a9d593f-a9c2-46ae-a4d9-c6aaff70f474",
  "meta": { "templateCredsSetupCompleted": false },
  "tags": []
}
